Source: ttdnsd
Priority: extra
Section: comm
Maintainer: Jacob Appelbaum <jacob@torproject.org>
Standards-Version: 3.8.4.0

Package: ttdnsd
Architecture: any
Depends: ${shlibs:Depends}, openssl-dev, tor
Description: The Tor TCP DNS Daemon
 ttdnsd(1) is a small UDP to TCP DNS shim for use with the tor(1) SOCKS proxy
 interface. It should also work with other SOCKS proxies.
 .
 ttdnsd(1)  requires  a  single  recursive  DNS  listener  on the open
 internet to be useful. It provides no DNS caching support and may be
 chained with unbound(1) or another DNS caching program for performance
 reasons. By default ttdnsd(1) ships with 8.8.8.8 as the open TCP DNS
 resolver.
 .
 ttdnsd(1) creates a TCP connection through the configured
 SOCKS proxy to the randomly chosen DNS resolver(s) as
 configured in /etc/ttdns.conf  ;  the  connection  is
 held  open for a reasonable amount of time and
 subsequently closed when it is no longer in use. This
 allows users to make arbitrary DNS queries to will exit
 from the Tor network to the configured resolver(s).
 .
